<app-side-menu>
    <h2>Reactivos: <small> Dinámicos </small></h2>
    <hr>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
        <div class="sm:col-span-1 md:col-span-1 lg:col-span-1" style="background-color: gray;">
            <span>Valid</span>
            <pre>{{ dynamicForm.valid | json }}</pre>

            <span>Pristine</span>
            <pre>{{ dynamicForm.pristine| json }}</pre>

            <span>Touched</span>
            <pre>{{ dynamicForm.touched| json }}</pre>

            <span>Value</span>
            <pre>{{ dynamicForm.value| json }}</pre>

            <!-- <span>Precio</span>
            <pre>{{ dynamicForm.controls['price'].value | json }}</pre> -->

            <!-- <span>Precio - Errors</span>
            <div style="overflow: auto;">{{ dynamicForm.controls['price'].errors | json }}</div> -->

            <!-- <span>Producto 1</span>
            <div style="overflow: auto;">{{ dynamicForm.controls['name'].value | json }}</div> -->

            <!-- <span>Producto</span>
            <div>{{ dynamicForm.controls['name'].errors | json }}</div> -->
        </div>

        <div class="sm:col-span-1 md:col-span-2 lg:col-span-2">
            <form [formGroup]="dynamicForm" (ngSubmit)="onSaveForm()" autocomplete="off" class="formContainer">
                <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">

                    <div class="sm:col-span-1 md:col-span-2 lg:col-span-4" style="display: flex; width: 100%; ">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre de la persona</mat-label>
                            <input class="form-control" formControlName="personName" matInput placeholder="Nombre de la persona" type="text">

                            <mat-error *ngIf="isValidField({ theField: 'personName', theError: 'required'})">
                                El nombre de la persona es requerido
                            </mat-error>

                            <mat-error *ngIf="isValidField({ theField: 'personName', theError: 'minlength'})">
                                El nombre de la persona requiere minimo 3 letras
                            </mat-error>

                            <mat-error *ngIf="isValidField({ theField: 'personName', theError: 'maxlength'})">
                                El nombre de la persona requiere máximo de 20 letras
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Agregar Favorito -->
                    <!-- <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Agregar</label>
                        <div class="col-sm-9">

                            <div class="input-group">
                                <input class="form-control"
                                    [formControl]="newFavorite"
                                    placeholder="Agregar favorito"
                                >


                                <button (click)="onAddToFavorites()"
                                        class="btn btn-outline-primary"
                                        type="button">
                                    Agregar favorito
                                </button>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-span-1 sm:col-span-1 md:col-span-2 lg:col-span-3">
                        <div style="display: flex; flex-direction: row;">
                            <mat-form-field formControlName="favoriteGames" appearance="fill">
                                <mat-label>Agregar juego favorito</mat-label>
                                <input class="form-control" matInput type="text" placeholder="Nuevo juego favorito" type="text">
                                <!-- <mat-error *ngIf="isValidFieldInArray({ theFieldArrayIndex = '', theError: 'minlength'})">
                                    El nombre del juego requiere máximo de 2 letras
                                </mat-error> -->

                                <!-- <mat-error *ngIf="isValidFieldInArray({ theField: 'favoriteGames', theError: 'maxlength'})">
                                    El nombre del juego requiere máximo de 20 letras
                                </mat-error> -->

                            </mat-form-field>
                            <button mat-fab extended aria-label="Add favorite game" style="background-color: #008000; width: 25%; margin-left: 2.5%;">
                                Agregar
                                <mat-icon>add_circle</mat-icon>
                            </button>

                        </div>
                    </div>

                    <div class="col-span-1 sm:col-span-1 md:col-span-2 lg:col-span-2" formArrayName="favoriteGames">
                        <div style="display: flex; flex-direction: row;" *ngFor="let favoriteGames of favoriteGamesControl.controls; let i = index">
                            <mat-form-field appearance="fill">

                                <mat-label>Favorite Games</mat-label>
                                <input class="form-control" formControlName="favoriteGames" matInput placeholder="Juego favorito" type="text" [formControlName]="i">

                                <mat-error *ngIf="isValidField({ theField: 'favoriteGames', theError: 'min'})">
                                    El nombre debe ser minimo de 2 caracteres
                                </mat-error>

                                <mat-error *ngIf="isValidFieldInArray({ theFieldArrayIndex: i, theError: 'minlength'})">
                                    El nombre del juego requiere máximo de 2 letras
                                </mat-error>
                            </mat-form-field>

                            <button mat-fab extended aria-label="Delete game" (click)="deleteItemFromArray(i)" style="background-color: #cc0002; width: 25%; margin-left: 2.5%;">
                                Eliminar
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>


                    <!-- <div class="col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-1">
                        <mat-form-field appearance="fill">
                            <mat-label>Existencias</mat-label>
                            <input class="form-control" formControlName="inStorage" matInput placeholder="Existencias del producto" type="number">

                            <mat-error *ngIf="isValidField({ theField: 'inStorage', theError: 'required'})">
                                Las existencias del producto es requerido
                            </mat-error>

                            <mat-error *ngIf="isValidField({ theField: 'inStorage', theError: 'min'})">
                                Las existencias del producto minimo debe ser de 1
                            </mat-error>

                            <mat-error *ngIf="isValidField({ theField: 'inStorage', theError: 'max'})">
                                Las existencias del producto minimo debe ser de 100
                            </mat-error>
                        </mat-form-field>
                    </div> -->

                    <div class="col-span-1 md:col-span-2 lg:col-span-3 flex justify-center py-4">
                        <button mat-fab extended type="submit" style="background-color:  #0066cc;">
                            Guardar
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</app-side-menu>