.example-sidenav
    background-color: #005bb9
    color: white
    padding: 1%
    width: 15%

.sidenav-content
    display: flex
    flex-direction: column
    height: 100%

.menu-content
    flex: 1
    overflow-y: auto

.buttonContainer
    align-items: center
    display: flex
    justify-content: center

.closeButton
    margin-top: auto
    align-self: flex-end

.contentContainer
    display: flex
    flex-direction: column
    position: relative

.toolbar-wrapper
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 1000

.toolbarStyle
    background-color: #005bb9
    box-shadow: 0 2px 4px rgba(0,0,0,0.1)
    color: '#F3F3F3'

.buttonTitle
    color: white
    font-size: 14px
    font-weight: '600'

#buttonIcon
    color: white
    margin-right: 10px

.buttonSubTitle
    color: white
    font-size: 10px

.sidenavContent
    // height: calc( 100vh - 64px )
    // background-color: #F3F3F3
    // padding: 1%
    // overflow-y: auto
    box-sizing: border-box
    flex: 1
    margin-top: 64px // Altura del toolbar en desktop
    padding: 20px
    width: 100%


// .content-wrapper {
//   margin-top: 64px; // Altura del toolbar en desktop
//   padding: 20px;
//   flex: 1;
//   width: 100%;
//   box-sizing: border-box;
// }